#Inpage {
  margin-top:-0px;
}

.row {
}

.TOP {
  border-left:solid;
  border-right:solid;
  width:50%;
  margin-left:auto;
  margin-right:auto;
  margin-top:20px;
  margin-bottom:20px;
}

.nav.navbar-nav.mx-auto {
}

#TOP {
  border-left:solid;
  border-right:solid;
  width:50%;
  margin-left:auto;
  margin-right:auto;
  margin-top:20px;
  margin-bottom:20px;
}

#Desc {
  margin-right:auto;
  width:50%;
}

#Divide {
  height:2px;
  background:rgba(255,255,255,0.58);
  width:40%;
  margin-left:auto;
  margin-right:auto;
  margin-top:50px;
  margin-bottom:50px;
}

#Demo {
  margin-top:20px;
  width:30%;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:20px;
}

.container {
}

#DemoReel {
  margin-bottom:40px;
}

#Testimonial {
  width:35%;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:40px;
}

#one {
  border-bottom:solid;
}

#two {
}

#twotest {
}

#TwoCol {
  border-right:solid;
  border-color:white;
}

#feat {
  border-left:solid;
  border-right:solid;
  width:30%;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:40px;
}

#work {
  margin-left:auto;
  margin-right:auto;
}

#video {
  margin-left:auto;
}

@media (min-width: 300px) {
  #Desc {
    width:100%;
  }
}

@media (min-width: 300px) {
  #TOP {
    width:90%;
  }
}

@media (min-width: 300px) {
  #Demo {
    width:90%;
  }
}

@media (min-width: 300px) {
  #Testimonial {
    width:90%;
  }
}

@media (min-width: 300px) {
  #feat {
    width:90%;
  }
}

iframe {
}

#Siddartha {
  position:relative;
  margin:30%;
}

@media (min-width: 300px) {
  #Siddartha {
    margin:15%;
  }
}

@media (min-width: 576px) {
  #Siddartha {
    margin:15%;
    width:70%;
  }
}

@media (min-width: 768px) {
  #Siddartha {
    margin:10%;
    width:90%;
  }
}

@media (min-width: 992px) {
  #Siddartha {
    margin-left:20%;
    width:70%;
  }
}

@media (min-width: 1200px) {
  #feat {
    width:50%;
  }
}

@media (min-width: 1200px) {
  #Testimonial {
    width:50%;
  }
}

@media (min-width: 1200px) {
  #Demo {
    width:50%;
  }
}

@media (min-width: 1200px) {
  #TOP {
    width:50%;
  }
}

#sub {
}

#Yuu {
  margin-left:10%;
  border:solid;
  border-radius:10px;
  border-color:gray;
}

#Itami {
  border:solid;
  border-radius:10px;
  border-color:gray;
}

.text-center {
  text-shadow:2px 2px 4px #000000;
}

#Backro {
  background-color:white;
  border:solid;
  border-color:gray;
  border-radius:10px;
}

#Rohan {
  padding:10px;
  padding-top:125px;
  padding-bottom:157px;
  border-radius:10px;
}

#Issen {
  border:solid;
  border-color:gray;
  border-radius:10px;
  background:white;
}

#fred {
  border:solid;
  border-color:gray;
  border-radius:10px;
}

#tsu {
  margin-left:10%;
  border:solid;
  border-color:gray;
  border-radius:10px;
}

@media (min-width: 300px) {
  #Itami {
    margin-left:-10px;
    width:350px;
  }
}

@media (min-width: 300px) {
  #Issen {
    margin-left:-10px;
    width:350px;
  }
}

@media (min-width: 300px) {
  #Backro {
    margin-left:-10px;
    width:350px;
  }
}

@media (min-width: 300px) {
  #fred {
    width:350px;
    margin-left:-10px;
  }
}

@media (min-width: 300px) {
  #Yuu {
    margin-left:-10px;
    width:350px;
  }
}

@media (min-width: 300px) {
  #tsu {
    margin-left:-10px;
    width:350px;
  }
}

@media (min-width: 576px) {
  #Itami {
    margin-left:15%;
  }
}

@media (min-width: 576px) {
  #Issen {
    margin-left:15%;
  }
}

@media (min-width: 576px) {
  #Backro {
    margin-left:15%;
  }
}

@media (min-width: 576px) {
  #fred {
    margin-left:1%;
    width:500px;
  }
}

@media (min-width: 576px) {
  #Yuu {
    margin-left:15%;
  }
}

@media (min-width: 576px) {
  #tsu {
    margin-left:15%;
  }
}

@media (min-width: 768px) {
  #Itami {
    width:200px;
  }
}

@media (min-width: 768px) {
  #Issen {
    width:200px;
    height:353px;
  }
}

@media (min-width: 768px) {
  #Backro {
    margin-left:5px;
    width:200px;
    height:350px;
  }
}

@media (min-width: 768px) {
  #Rohan {
    width:200px;
    padding-top:80px;
  }
}

@media (min-width: 768px) {
  #Issen {
    margin-left:5px;
    width:200px;
    height:350px;
  }
}

@media (min-width: 768px) {
  #Itami {
    margin-left:5px;
    width:200px;
    height:350px;
  }
}

@media (min-width: 768px) {
  #fred {
    width:680px;
  }
}

@media (min-width: 768px) {
  #Yuu {
    margin-left:-5px;
    width:340px;
    height:518px;
  }
}

@media (min-width: 768px) {
  #tsu {
    margin-left:-2px;
    width:340px;
  }
}

@media (min-width: 992px) {
  #fred {
    width:910px;
  }
}

@media (min-width: 992px) {
  #Itami {
    width:250px;
    margin-left:19px;
    height:400px;
  }
}

@media (min-width: 992px) {
  #Issen {
    margin-left:19px;
    height:400px;
    width:250px;
  }
}

@media (min-width: 992px) {
  #Backro {
    margin-left:19px;
    height:400px;
    width:250px;
  }
}

#Rohan {
  width:244px;
}

@media (min-width: 992px) {
  #Yuu {
    margin-left:48px;
  }
}

@media (min-width: 992px) {
  #tsu {
    width:340px;
    margin-left:48px;
  }
}

@media (min-width: 1200px) {
  #Itami {
    width:350px;
    height:600px;
    margin-left:-2px;
  }
}

@media (min-width: 1200px) {
  #Issen {
    width:350px;
    margin-left:-2px;
    height:600px;
  }
}

@media (min-width: 1200px) {
  #Backro {
    width:350px;
    margin-left:-2px;
    height:600px;
  }
}

@media (min-width: 1200px) {
  #Rohan {
    width:345px;
    margin-top:51px;
  }
}

#fred {
}

@media (min-width: 1200px) {
  #fred {
    width:1122px;
    margin-left:-8px;
  }
}

@media (min-width: 1200px) {
  #Yuu {
    width:450px;
    height:700px;
  }
}

#contalk {
  width:110%;
}

#form_email {
  margin-left:300px;
}

#field {
  margin-left:300px;
}

#form_message {
  height:100px;
}

.btn.btn-primary.btn-lg.btn-send {
  margin-left:45%;
}

.form-group {
}

@media (min-width: 992px) {
  #form_email {
    margin-left:245px;
  }
}

@media (min-width: 992px) {
  #field {
    margin-left:245px;
  }
}

#Rohan {
  width:345px;
}

#Rohan {
  width:195px;
}

@media (min-width: 992px) {
  #Rohan {
    width:245px;
  }
}

@media (min-width: 1200px) {
  #tsu {
    width:460px;
  }
}

@media (min-width: 1200px) {
  #Rohan {
    width:345px;
  }
}

